.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1rem);
}

.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

.formTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.inputContainer {
  position: relative;
}

.inputContainer input,
.submit {
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.397);
  margin: 8px 0;
}

.inputContainer input {
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 3px;
}

.submit {
  display: block;
  padding: 12px 15px;
  background-color: #010001;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.signupLink {
  margin-top: 10px;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signupLink a {
  text-decoration: none;
  font-weight: bolder;
  color: #fc7684;
}

.errorAlert {
  color: red;
  text-align: center;
}
.googleButton {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border: none;
  margin: 10px 0 15px 0;
}
