.homePage {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.filterContainer {
  width: 15rem;
}
.cardList {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  width: calc(100% - 15rem);
}

@media (max-width: 830px) {
  .homePage {
    margin-top: 7rem;
  }
}
@media (max-width: 522px) {
  .homePage {
    flex-direction: column;
    gap: 2rem;
  }
  .filterContainer {
    display: none;
  }
  .cardList {
    align-items: center;
    width: 100vw;
  }
}

@media (min-width: 522px) {
  .responsiveFilterContainer {
    display: none;
  }
}
