nav {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  overflow: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 3rem;
  width: 100%;
}

.navigator {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navigator button {
  padding: 4px 18px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  background-color: #010001;
  color: white;
}
nav a {
  color: black;
  text-decoration: none;
}

.wishlistNavlink,
.cartNavlink {
  position: relative;
}
.wishlistLength,
.cartLength {
  position: absolute;
  top: -10px;
  right: -7px;
  background-color: #fc7684;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}

.responsiveNavbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.7rem 1rem;
}
.links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 830px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 423px) {
  .navigator {
    gap: 1rem;
  }
  .links h1 {
    font-size: 20px;
  }
}
@media (min-width: 830px) {
  .responsiveNavbar {
    display: none;
  }
}
