.landingPage {
  margin-top: 5rem;
}
.main {
  height: 100vh;
}
.headerImage {
  min-width: 320px;
  width: 100%;
  padding: 0 1rem;
  cursor: pointer;
}

@media (max-width: 830px) {
  .landingPage {
    margin-top: 7rem;
  }
}
